<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Hello there!</h1>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </thead>
    {%for each in userInfo:%}
        <tr>
            <td>{{each['first_name']}}</td>
            <td>{{each['last_name']}}</td>
            <td>{{each['first_name'] +' '+ each['last_name']}}</td>
        </tr>
    {%endfor%}
</body>
</html>